data/raw/**/*.csv filter=lfs diff=lfs merge=lfs -text
data/raw/**/*.tsv filter=lfs diff=lfs merge=lfs -text
data/raw/**/*.txt filter=lfs diff=lfs merge=lfs -text
data/raw/**/*.gct filter=lfs diff=lfs merge=lfs -text
data/augmented/** filter=lfs diff=lfs merge=lfs -text
